snippet retailer
${1:`git-branchname issueid`}: ${2:`git-branchname subject`}

$0
endsnippet

snippet core
${1:`git-branchname issueid`}: ${2:`git-branchname subject`}

Description:     $3

Action required: $4

Impact:          $0
endsnippet
